[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses-json = "*"
torch = "*"
transformers = "*"
pandas = "*"
numpy = "*"
networkx = "*"
networkx-query = "*"

[dev-packages]
black = "==21.12b0"
isort = "*"
yamllint = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
wheel = "*"
twine = "*"
setuptools = "*"
typing-extensions = "*"

[requires]
python_version = "3.7"
